body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 20px;
    background: #eee;
    color: #000;
}

.date-post-title {
    margin-left: 10px;
    font-size: 14px;
}

article {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 5px 0;
    position: relative;
}

article h2.title {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 30px;
}

article h2.title a:hover {
    color: #258fb8;
}

.post h2.list_post {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.post h2.inside_post {
}

.post .meta {
    top: 85px;
    line-height: 2;
    font-size: 0.9em;
    color: #999;
    width: 170px;
    position: initial;
}

.post .entry-content {
    margin-left: 0px;
}
