{% if index %}
	<h2 class="title list_post">
		{% if post.external-url %}
		<a href="{{ post.external-url }}">
		{% else %}
		<a href="{{ root_url }}{{ post.url }}">
		{% endif %}
        ~ {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}<span class="date-post-title">{% include post/date.html %}{{ time }}</span></a>
	</h2>
{% else %}
	<h2 class="title inside_post">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h2>
	<div class="entry-content">{{ content }}</div>
    <div class="meta">
        <div class="date">{% include post/date.html %}{{ time }}</div>
        <div class="tags">{% include post/categories.html %}</div>
        {% if site.disqus_short_name and site.disqus_show_comment_count == true %}
            <div class="comments"><a href="{{ root_url }}{% if index %}{{ post.url }}{% endif %}#disqus_thread">Comments</a></div>
        {% endif %}
    </div>
{% endif %}

